@use '@carbon/react' as carbon;
@use '@carbon/react/scss/themes';

.type-code {
  @include carbon.type-style('code-01');
}

// :root scoped as Carbon chart holders also carry data-carbon-theme and would inherit unwanted style
:root[data-carbon-theme='white'] {
  @include carbon.theme(themes.$white);

  background-color: carbon.$background;
  color: carbon.$text-primary;
  min-height: 100vh;
}

:root[data-carbon-theme='g10'] {
  @include carbon.theme(themes.$g10);

  background-color: carbon.$background;
  color: carbon.$text-primary;
  min-height: 100vh;
}

:root[data-carbon-theme='g90'] {
  @include carbon.theme(themes.$g90);

  background-color: carbon.$background;
  color: carbon.$text-primary;
  min-height: 100vh;
}

:root[data-carbon-theme='g100'] {
  @include carbon.theme(themes.$g100);

  background-color: carbon.$background;
  color: carbon.$text-primary;
  min-height: 100vh;
}
